body {
  background: #f5f5f5;
}
div {
  overflow: hidden;
}
header {
  overflow: hidden;
  border-bottom: 2px solid #e3142c;
}
.topbar {
  background-color: #e3142c;
  color: #fff;
  overflow: hidden;
  padding: 10px;
}
.topbarsupport, .topbarusers {
  overflow: hidden;
  font-size: 12px;
}
.topbarsupport ul, .topbarusers ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.topbarsupport ul li, .topbarusers ul li {
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding-right: 10px;
  letter-spacing: 0.5px;
}
.topbarsupport ul li:last-child, .topbarusers ul li:last-child {
  padding-right: 0px;
  border-right: none;
  margin-left: 10px;
}
.topbarusers ul li:last-child {
  margin-left: 0px;
}
.topbarsupport ul li a, .topbarusers ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
}
.topbarsupport ul li:nth-child(1)::before {
  content: "\f0e0";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  vertical-align: middle;
}
.topbarsupport ul li:nth-child(2)::before {
  content: "\f2a0";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  vertical-align: middle;
  margin-right: 5px;
}
.topbarusers ul li:nth-child(1)::before {
  content: "\f02c";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  vertical-align: middle;
}
.topbarusers ul li a>ul {
  display: none;
}
.topbarusers ul li a:hover>ul {
  display: block;
  position: fixed;
  text-align: left;
  z-index: 0;
  background: #fff;
  border: 2px solid #e3142c;
  padding: 10px;
  width: 100px;
}
.topbarusers ul li a:hover>ul>li {
  display: block;
  color: #444;
}
.topbarusers ul li a:hover>ul>li:nth-child(1)::before {
  content: "";
}
.sitepane {
  padding: 25px 0px 0px 0px;
}
.main-menu {
  margin: 30px 0 0 0;
  overflow: hidden;
}
.main-menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.main-menu ul li {
  display: inline-block;
  font-size: 17px;
  font-weight: 600
}
.main-menu ul li a {
  color: #575757;
  text-decoration: none;
  padding: 4px 4px 25px 4px;
  display: block;
  text-align: center;
  transition: all 0.5s ease;
}
.main-menu ul li a:nth-child(1) {
  padding-left: 0px;
}
.main-menu ul li a:hover {
  color: #e3142c;
  border-bottom: 5px solid #e3142c;
  padding-bottom: 20px;
}
.main-menu ul li a::before {
  margin-right: 5px;
}
.main-menu ul li:nth-child(1) a::before {
  content: "\f594";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.main-menu ul li:nth-child(2) a::before {
  content: "\f1b9";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.main-menu ul li:nth-child(3) a::before {
  content: "\f5b0";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.main-menu ul li:nth-child(4) a::before {
  content: "\f277";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.wishlist ul {
  margin: 33px 0px 0px 0px;
  padding: 0px;
  list-style: none;
}
.wishlist ul li {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}
.wishlist ul li a {
  color: #575757;
  text-decoration: none;
  transition: all 0.5s ease;
}
.wishlist ul li a:hover {
  color: #e3142c;
}
.tourinfo {
  background: #1e2e3e;
  padding: 10px;
}
#tloc p {
  color: #fff;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  opacity: 0.7;
}
#tloc::before {
  content: "Tour Location";
  font-size: 17px;
  font-weight: 800;
  color: #fff;
}
#fromto {
  color: #fff;
}
#fromto ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#fromto ul li {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  vertical-align: text-bottom;
}
#fromto ul li span {
  font-size: 12px;
  color: #dee1e3;
  margin-right: 5px;
  margin-left: 5px;
}
#fromto ul li::before {
  content: "\f073";
  font-family: 'Font Awesome 5 Free';
  color: #dee1e3;
  vertical-align: middle;
  font-weight: 400;
}
#fromto ul li:nth-child(1) {
  margin-right: 20px;
}
#modify button {
  background: none;
  border-radius: 3px;
  border: 1px solid #eca100;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  margin: 7px 0 0 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
#modify button:hover {
  background-color: #eca100;
}
.availbility {
  background-color: #ffffff;
  padding: 5px 0px;
}
.where {
  overflow: hidden;
  padding-top: 37px;
  padding-bottom: 37px;
}
.where input {
  width: 100%;
  background-color: #d9d9d9;
  border: none;
  color: #8a8989;
  font-size: 13px;
  transition: all 0.5s ease;
  padding: 11px 24px;
  cursor: pointer;
}
.when {
  overflow: hidden;
  padding: 37px 0px;
}
.date{
  overflow: hidden;
  padding: 63px 0;
}
.form-control {
  background-color: #d9d9d9;
  border: none;
  color: #8a8989;
  font-size: 13px;
  transition: all 0.5s ease;
  padding: 11px 24px;
  cursor: pointer;
  }
.search {
  overflow: hidden;
  margin-top: 100px;
}
.search button {
  background-color: #97d037;
  border: none;
  color: #fff;
  font-size: 13px;
  transition: all 0.5s ease;
  padding: 0px;
  padding-right: 0px;
  cursor: pointer;
  text-align: center;
}
.search button span {
  text-align: center;
  display: inline-block;
  padding: 12px 7px 1px 10px;
}
.search button:hover {
  background: #7cbb00
}
.search button i {
  background-color:#7cbb00;
  padding: 15px;
}
.maptopleft {
  background: #fff;
  padding: 7px;
}
.filters {
  padding: 15px;
  margin-top: 25px;
  background: #fff;
}
.filters h3 {
  color: #061053;
  font-size: 19px;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}
.filters ul {
  margin: 10px 0 0 0;
  padding: 0px;
  list-style: none;
}
.filters ul li {
  display: block;
}
.filters ul li a {
  padding: 0px;
  margin: 0px;
}
#reset-filter button {
  background-color: #d9d9d9;
  border: none;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 25px;
  transition: all 0.5s ease;
  padding: 11px 24px;
  cursor: pointer;
}
#reset-filter button:hover {
  background: #e3142c;
}
.panel-heading p:before {
  font-family: 'Font Awesome 5 Free';
  margin-right: 7px;
  color: #ffb800;
  font-weight: 900;
}
.panel-title {
  border-bottom: 1px solid #f6f6f6;
  padding: 10px 0;
  margin: 0px;
}
.panel-title a {
  color: #333;
}
.panel-title > a:before {
    float: right !important;
    font-family: 'Font Awesome 5 free';
    content:"\f068";
    padding-right: 5px;
    color: #73c000;
    font-weight: 900;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
    text-decoration:none;
}
.panel-body {
  margin: 10px 0;
}
.panel-heading p:before {
  font-family: 'Font Awesome 5 Free';
  margin-right: 7px;
  color: #ffb800;
}
#timef:before {
  content: "\f017";
}
#mealf:before {
  content: "\f2e7";
}
#langf:before {
  content: "\f1ab";
}
#strtf:before {
  content: "\f024";
}
#guidef:before {
  content: "\f1cd";
}
#durf:before {
  content: "\f017";
}
#tranf:before {
  content: "\f5eb";
}
#bestf:before {
  content: "\f164";
}
#tcatf:before {
  content: "\f0b0";
}
#tlocf:before {
  content: "\f3c5";
}
.sortout {
  background: #fff;
  padding: 10px;
}
article {
  background-color: #ffffff;
}
.artimg {
  margin: 5px;
  padding: 0px;
  position: inherit;
  float: left;
  overflow: hidden;
}
.content-area>article>img {
  position: relative;
  overflow: hidden;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon.left {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  overflow: hidden;
  width: 150px;
  height: 150px;
  text-align: right;
}
.ribbon.left span {
  font-size: 11px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 150px;
  display: block;
  background: #e3142c;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 28px;
  left: -32px;
}
.wishlisttag {
  position: absolute;
  top: 0px;
  left: 237px;
  color: #d9d9d9;
}
.wishlisttag:hover {
  color: #e3142c;
}
.tour-detail {
  float: left;
  padding-top: 10px;
}
.tourhead {
  border-bottom: 1px solid #eaeaea;
}
.tourhead h4 {
  margin: 0px;
  padding: 0px;
  line-height: inherit;
  color: #22344b;
  font-size: 18px;
}
.tourhead h4 i {
  margin-left: 3px;
}
.tourhead p {
  color: #8c8c8c;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0px 0 5px 0;
  margin: 0px;
}
#tourdesc, #tourdesc p {
  color: #a6a6a6;
  font-size: 12px;
  margin: 7px 0px;
}
#tourdesc ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#tourdesc ul li {
  display: inline-block;
  margin: 1px;
}
#tourdesc ul li i {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #d5d5d5;
  color: #d5d5d5;
  transition: all 0.5s ease;
}
#tourdesc ul li i:hover {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #e2152d;
  color: #e2152d;
}
#tourconf {
  width: 100%;
  overflow: hidden;
}
#tourconf ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#tourconf ul li {
  display: inline-block;
  color: #838282;
  font-size: 12px;
}
#tourconf ul li::before {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  color: #fff;
  font-weight: 900;
  font-size: 8px;
  background-color: #40b003;
  border-radius: 50%;
  padding: 2px;
  vertical-align: middle;
  margin-right: 3px;
  margin-left: 5px;
}
#pricetag {
  float: left;
  padding: 30px 0px;
  text-align: center;
}
#statfr {
  color: #a4a4a4;
  font-size: 12px;
}
#perper, #perpe {
  color: #a4a4a4;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}
#pricetag h2 {
  color: #6fb506;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
#perpe {
  text-transform: capitalize;
  font-size: 10px;
}
#pricetag button, #tour-book button {
  background-color: #d9d9d9;
  border: none;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 10px;
  transition: all 0.5s ease;
  padding: 5px;
  cursor: pointer;
}
#pricetag button:hover, #tour-book button:hover {
  background: #e3142c;
}
#tour-book button {
  margin-top: 0px;
}
.tabslist {
  margin: 15px 0 15px 0;
  padding: 0px;
  list-style: none;
}
.tabslist li {
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: 138px;
  margin-right: 16px;
}
.tabslist li:last-child {
  margin-right: 0px;
}
.tabslist li a {
  color: #a1a1a1;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #f5f5f5;
  width: 100%;
  max-width: 160px;
  display: block;
  padding: 5px 0px;
  transition: all 0.5s ease;
}
.tabslist li a:hover {
  background-color: #e3142c;
  color: #fff;
}
.tabslist li a:active {
  color: #fff;
}
.ribbon-2 span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon-2 span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon-2.left {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  overflow: hidden;
  width: 150px;
  height: 150px;
  text-align: right;
}
.ribbon-2.left span {
  font-size: 11px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 150px;
  display: block;
  background: #fbc404;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 28px;
  left: -32px;
}
.overall-rating {
  overflow: hidden;
  float: left;
  padding: 20px 30px;
}
.overall-rating h6 {
  font-size: 14px;
  font-weight: 600;
  font-family: Arial;
  margin-top: 15px;
  line-height: 1.35em;
}
.overall-rating p {
  margin: 0px;
  padding: 0px;
  line-height: 1.35em;
  font-size: 14px;
}
.progress-rate {
  overflow: hidden;
  float: left;
  padding: 0px 30px;
}
.progress-rate ul {
  margin: 0px;
  padding: 20px 0;
  list-style: none;
}
.progress-rate ul li {
  display: block;
  overflow: hidden;
}
.pb-light-grey,.pb-hover-light-grey:hover,.pb-light-gray,.pb-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.pb-green,.pb-hover-green:hover{color:#fff!important;background-color:#6fb506!important}
.progress-rate ul li p {
  width: 25%;
  float: left;
  display: block;
}
.pb-light-grey {
  margin: 6px;
}
.progress-rate ul li {
  margin: 10px 0px;
}
.progress-rate ul li div {
  width: 70%;
  float: left;
}
.progress-rate ul li p {
  margin: 0px;
  padding: 0px;
}
.footer {
  background: #fff;
  padding: 30px 0px;
}
.discover ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  line-height: 3rem;
}
.discover ul li label{
  font-color:#d9d9d9;
}
.discover h5, .news h5, .mailing h5, .need-help h5 {
  font-color: #11243c;
}
.news-pic img{
  margin-top: 20px;
}
.news-text h6{
  margin-top: 15px;
  color: #e3142c;
  margin-left: 10px;
  font-size: 20px;
}
.news-text p{
  margin-top: 12px;
  color: #7f7f7f;
  margin-left: 10px;
  font-size: 13px;
  white-space: pre-line;
}
.news-text span{
  color: #7f7f7f;
  margin-left: 10px;
  font-size: 10px;
}
.mailing p{
  margin-top: 27px;
  color: #7f7f7f;
  font-size: 13px;
  white-space: pre-line;
}
.mailing input{
  margin-top: 36px;
}
.need-help p{
  margin-top: 27px;
  color: #7f7f7f;
  font-size: 13px;
  white-space: pre-line;
  font-family: lato-bold;
}
.need-help ul li span{
  color: #11243c;
  font-size: 20px;
}
.need-help span{
  margin-left: 20px;
    color: #e3142c;
}
.copyright {
  padding: 12px 0px;
}
.copyright p{
  color: #9e9c9c;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}





// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
